<script src="../prgauxiliares/js/jquery.js"></script>

<form name="form" action="http://www.cooperforte.coop.br/seja-cooperforte/pt/home/landingpage" method="POST" id="form-adesao" class="form form-atendimento validate-form" novalidate="novalidate">
  
		<div class="row-fluid">
			<div class="span6">
				<label for="cpt_nome">Nome</label>
				<input type="text" id="cpt_nome" name="cpt[nome]" maxlength="80" class="required span12" value="">
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<label for="cpt_email">E-mail</label>
				<input type="text" id="cpt_email" name="cpt[email]" maxlength="50" class="required email span12" value="">
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<label for="cpt_telefone">Telefone</label>
				<input type="text" name="cpt[telefone_01]" class="required telefone span12" placeholder="(__) ____-_____" value="">
			</div>
		</div>

</form>


<a href="http://preview.g5s8eihimt0jatt9ox998t36aoo5hfronxrgeh00czq6w29.box.codeanywhere.com/index2.html" target="_blank">Abrir novo </a> 