<!-- Modal -->
<link rel="stylesheet" href="../prgauxiliares/css/selectize.default.css">

<div class="modal fade" id="modalCompartilharProjeto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

	<h4 class="text-center">Compartilhamento</h4>
	<h6 class="text-center" id="tituloModal">Digite abaixo o email dos usuários que deseja compartilhar</h6>

	<div id="conteudoProjetoModal"> <!-- Inicio (carrega conteudo) --->
	<form>

		<div class="form-group">
			<select class="form-control" id="listaProjetos" required>
				<option value="">Selecione o projeto que deseja compartilhar</option>
        <option value="">Escola Sistemica</option>
        <option value="">Lucali</option>
        <option value="">Testes Google</option>
			</select>
		</div>
		<div class="form-group">
			<select id="selectContatos" class="contacts" placeholder="E-mail dos usuários que irão receber o projeto compartilhado"></select>
		</div>

		<button type="button" class="btn btn-success" onClick="alterarConteudoModal('salvarCompartilhamento');"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>

	</form>
	</div> <!-- Fim (carrega conteudo) --->

	</div>
  </div>
  </div>
</div>

<script src="../prgauxiliares/js/selectize.js"></script>
<script src="../prgauxiliares/js/restrito/repositorio.js"></script>
