<form>
	<div class="form-group">
		<p>O teste selecionado foi excluído do seu repositório.</p>
	</div>
	
	<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-ok"></span> Entendi </button>
</form>