<form>
		
		<div class="form-group">
			<div class="text-center">Um e-mail foi enviado para os usuários selecionados.</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
				<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-ok"></span> Entendi </button>
			</div>
		</div>
</form>