<!-- Modal -->
<div class="modal fade" id="modalExcluirTeste" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	
	<h4 class="text-left" id="tituloModal">Excluir Teste</h4>
	
	<div id="conteudoProjetoModal"> <!-- Inicio (carrega conteudo) --->	
	<form>
		
		<div class="form-group">
			<p>Deseja realmente excluir estes testes? Ele não fará mais parte do repositório depois disso.</p>
		</div>
		
		<button type="button" class="btn btn-success" onClick="alterarConteudoModal('exclusaoTeste');"> <span class="glyphicon glyphicon-floppy-saved"></span> Sim, quero </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>
		
	</form>
	</div> <!-- Fim (carrega conteudo) --->
	
	</div>
  </div>
  </div>
</div>