<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1 class="text-center">Repositório</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				40/100 Testes
			</div>
		</div>

		<div id="listaProjetos">
			<ul>
				<li><a href="#" class="jstree-anchor jstree-clicked">Escola Sistemica</a></li>
				<li>Lucali</li>
				<li>Testes Google</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 \">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Pesquisar por testes">
				<span class="input-group-btn">
					<button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</div>
		
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

		<h4 class="text-center">Escola Sistemica</h4>

		<div class="conteudoRepositorio" id="conteudoRepositorio" ondrop="drop(event)" ondragover="allowDrop(event)">

			<div class="form-group repository" draggable="true" ondragstart="drag(event)" id="testeConteudo">
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
						<div class="form-group">
							<h4>
								<div class="row">
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
										Formulário de Contato
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
										<span class="glyphicon glyphicon-pencil btn-acao"></span>
										<span class="glyphicon glyphicon-trash text-danger btn-acao" data-toggle="modal" data-target="#modalExcluirTeste" onmouseover="abrirModal('excluirTeste');"></span>
									</div>
								</div>
							</h4>
							
							<h6>Escola Sistemica > Formulario professor > Teste registro de professor</h6>
							<br>
							<h6>Criado em: 01/07/2015 às 13h02min</h6>
							<h6>Ultima edição: Hoje às 19h54min</h6>
							

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
									<button type="button" class="btn btn-success hidden-xs hidden-sm"><span class="glyphicon glyphicon-triangle-right"></span> Executar Agora</button>

									<button type="button" class="btn btn-success hidden-lg hidden-md"><span class="glyphicon glyphicon-triangle-right"></span></button>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-warning hidden-xs hidden-sm"><span class="glyphicon glyphicon-facetime-video"></span> Continuar Gravando</button>

									<button type="button" class="btn btn-warning hidden-lg hidden-md"><span class="glyphicon glyphicon-facetime-video"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group repository" draggable="true" ondragstart="drag(event)" id="testeConteudo2">
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
						<div class="form-group">
							<h4>
								<div class="row">
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
										Formulário de Contato
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
										<span class="glyphicon glyphicon-pencil btn-acao"></span>
										<span class="glyphicon glyphicon-trash text-danger btn-acao" data-toggle="modal" data-target="#modalExcluirTeste" onmouseover="abrirModal('excluirTeste');"></span>
									</div>
								</div>
							</h4>
							<h6>Escola Sistemica > Formulario professor > Teste registro de professor</h6>
							<br>
							<h6>Criado em: 01/07/2015 às 13h02min</h6>
							<h6>Ultima edição: Hoje às 19h54min</h6>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
									<button type="button" class="btn btn-success hidden-xs hidden-sm"><span class="glyphicon glyphicon-triangle-right"></span> Executar Agora</button>

									<button type="button" class="btn btn-success hidden-lg hidden-md"><span class="glyphicon glyphicon-triangle-right"></span></button>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-warning hidden-xs hidden-sm"><span class="glyphicon glyphicon-facetime-video"></span> Continuar Gravando</button>

									<button type="button" class="btn btn-warning hidden-lg hidden-md"><span class="glyphicon glyphicon-facetime-video"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group repository" draggable="true" ondragstart="drag(event)" id="testeConteudo3">
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
						<div class="form-group">
							<h4>
								<div class="row">
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
										Formulário de Contato
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
										<span class="glyphicon glyphicon-pencil btn-acao"></span>
										<span class="glyphicon glyphicon-trash text-danger btn-acao" data-toggle="modal" data-target="#modalExcluirTeste" onmouseover="abrirModal('excluirTeste');"></span>
									</div>
								</div>
							</h4>
							<h6>Escola Sistemica > Formulario professor > Teste registro de professor</h6>
							<br>
							<h6>Criado em: 01/07/2015 às 13h02min</h6>
							<h6>Ultima edição: Hoje às 19h54min</h6>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
									<button type="button" class="btn btn-success hidden-xs hidden-sm"><span class="glyphicon glyphicon-triangle-right"></span> Executar Agora</button>

									<button type="button" class="btn btn-success hidden-lg hidden-md"><span class="glyphicon glyphicon-triangle-right"></span></button>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<button type="button" class="btn btn-warning hidden-xs hidden-sm"><span class="glyphicon glyphicon-facetime-video"></span> Continuar Gravando</button>

									<button type="button" class="btn btn-warning hidden-lg hidden-md"><span class="glyphicon glyphicon-facetime-video"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs text-right">
		<div class="form-group">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalCompartilharProjeto" onmouseover="abrirModal('compartilharProjeto');"><span class="glyphicon glyphicon-share"></span> Compartilhar Projeto</button>
		</div>

		<div class="panel panel-default text-center">
			<div class="panel-heading">Executar Testes</div>
			<div class="panel-body" id="listaDeExecucao" ondrop="drop(event)" ondragover="allowDrop(event)">Você não possui nenhum teste.</div>
			<div class="panel-footer" id="reproduzirListaDeExecucao" style="display: none;">
				<button type="success" class="btn btn-success"><span class="glyphicon glyphicon-triangle-right"></span> Executar </button>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="hidden-xs hidden-sm col-md-offset-5 col-lg-2 show-functions" style="display:none">
		<label>Tempo Real</label>
		<div class="can-toggle can-toggle--size-small">
			<input id="b" type="checkbox" />
			<label for="b">
				<div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
				<div class="can-toggle__label-text"></div>
			</label>
		</div>
	</div>
</div>



<link rel="stylesheet" href="../prgauxiliares/css/repositorio/repositorio.css">
<link rel="stylesheet" href="../prgauxiliares/css/jquery.mCustomScrollbar.css">
<script src="../prgauxiliares/jstree/examples.treeview.js"></script>
<script src="../prgauxiliares/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
$(document).ready(function(){
	document.body.style.overflowY = "auto";
	$(".conteudoRepositorio").mCustomScrollbar({ theme:"minimal-dark" }); });

	function allowDrop(ev) {
		ev.preventDefault();
	}

	function drag(ev) {
		ev.dataTransfer.setData("text", ev.target.id);
	}

	function drop(ev) {
		ev.preventDefault();

		//Oculta texto do quadro de lista de execucao
		if(ev.target.id == "listaDeExecucao"){
			var html = $("#listaDeExecucao").html();
			if(html == "Você não possui nenhum teste."){
				$("#listaDeExecucao").html("");
				$("#reproduzirListaDeExecucao").show();
			}
		}

		var data = ev.dataTransfer.getData("text");
		ev.target.appendChild(document.getElementById(data));

		if(ev.target.id != "listaDeExecucao"){
			var html = $("#listaDeExecucao").html();
			if(html == ""){
				$("#listaDeExecucao").html("Você não possui nenhum teste.");
				$("#reproduzirListaDeExecucao").hide();
			}
		}
	}

</script>
