<form>
	<div class="text-center">Tem certeza que deseja desativar seu cadastro?</div> 
	<br>
	<div class="text-center">
		<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>
	</div>
</form>