<!-- Modal -->
<div class="modal fade" id="modalConfiguracao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="text-center" id="tituloModal">Alterar meu Cadastro</h4>
			</div>
		<div class="modal-body">
			<div id="conteudoProjetoModal">
			
			<form role="form">
				<div class="form-group">
					<label for="nome">Nome:</label>
					<input type="text" class="form-control" id="nome" required>
				</div>
				<div class="form-group">
					<label for="email">E-mail:</label>
					<input type="email" class="form-control" id="email" required>
				</div>
				<div class="form-group">
					<label for="pwd">Senha:</label>
					<input type="text" class="form-control" id="pwd" required>
				</div>
				<div class="form-group">
					<label for="pwd_conf">Confirmação de Senha:</label>
					<input type="text" class="form-control" id="pwd_conf" required>
				</div>
				<div class="form-group">
					<div class="pull-right">
						<a href="#/" class="text-danger" onclick="alterarConteudoModal('desativarConta');">Desativar conta</a>
					</div>
				</div>

			<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
			<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>
			
			</form>
			
			</div>
		</div>
		</div>
	</div>
</div>