body {
	font-family: 'Roboto Slab', serif;
	letter-spacing: 1px;
	line-height:25px;
	
}

.navbar{
	padding:15px;
	margin-bottom: 0px;
	
}

.container{
	margin-top:75px;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

.general{
	padding-top:35px;
	text-align:justify;
	padding-left:40px;
	padding-right:40px;
}

form{
	margin:0px;
}


.btn:hover{
box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
}

.btn-primary{
	border: 1px solid #2E6DA4;
	background-color:#fff;
	color: #2E6DA4;
}
	.btn-primary:hover{
		color: #ffffff;
		background: #2E6DA4;
	}

/* responsive text queries */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}