<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			<h4 class="text-center"> Logue-se </h4>

			<div>
				<form role="form">
					<div class="form-group">
						<label for="email">E-mail:</label>
						<input type="email" class="form-control" id="email" required>
					</div>
					<div class="form-group">
						<label for="pwd">Senha:</label>
						<input type="password" class="form-control" id="pwd" required>
					</div>

					<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>
				</form>
			</div>

			</div>
		</div>
  </div>
</div>