<!-- Modal -->
<div class="modal fade" id="loginCadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-lock"></i> Login</a></li>
      <li><a href="#tab2" data-toggle="tab"><i class="fa fa-child"></i> Cadastre-se</a></li>
    </ul>

    </div>
    <div class="modal-body">

    <div class="tabbable">
      <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form role="form">
          <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
          <label for="pwd">Senha:</label>
          <input type="password" class="form-control" id="pwd" required>
          </div>
		
		<button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>

        </form>
      </div>
      <div class="tab-pane" id="tab2">
        <form role="form">
          <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
          <label for="pwd">Senha:</label>
          <input type="password" class="form-control" id="pwd" required>
          </div>
          <div class="form-group">
          <label for="conf_pwd">Confirmar Senha:</label>
          <input type="password" class="form-control" id="conf_pwd" required>
          </div>
		  
        <button type="button" class="btn btn-success" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
		<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>

        </form>
      </div>
      </div>
    </div>

    </div>

      </div>
    </div>
  </div>
