<style>
input{width:100%;}
</style>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>
	$(document).ready(function(){
		
		$("#enviarform").click(function(){		
			$.post("testando.html", {teste:1}, function(ar){
				console.log(ar);
			});
		});
	
	});
</script>

<div style="margin: 0px auto; background: #CCC; color: #000; width: 500px;">

<!--<a href="enviado2.html">Enviar para Proxima Tela</a>-->
	<form action="enviado.html" method="post">
		<table>
			<tr>
				<td><label>Nome da Pessoa:</label></td>
				<td><input type="text" id="input_button"/></td>
			</tr>
			
			<tr>
				<td><label>Estados</label></td>
				<td>
					<select name="estados">
						<option value="">Selecione</option>
						<option value="1">Santa Catarina</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label>Cidades</label></td>
				<td>
					<select name="cidades">
						<option value="">Selecione</option>
						<option value="1">Joinville</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label>Sexo</label></td>
				<td>Masculino<input type="radio" name="sexo" id="sexo"></input></td>
				<td>Feminino<input type="radio" name="sexo" id="sexo"></input></td>
			</tr>
			
			<tr>
				<td><label>Checkbox</label></td>
				<td><input type="checkbox"/></td>
			</tr>
			
			<tr>
				<td><label>Idade da Pessoa:</label></td>
				<td><input type="text" id="input_button2"><td>
			
			</tr>
			
			<tr>
				<td><input type="submit" id="enviar" value="Enviar"></td>
			</tr>
			
		</table>
	</form>

</div>