.conteudoRepositorio{
	min-height: 425px;
	padding: 0px 15px;
}

.repository{
	width: 100%;
	min-height: 160px;
	background: #fdfdcd;
	box-shadow: -1px 1px 1px 1px #CCCCCC;
}

.btn-acao{
	cursor: pointer!important;
}
