<link rel="stylesheet" href="../prgauxiliares/css/criacao/criacao.css">
<link rel="stylesheet" href="../prgauxiliares/css/criacao/onoff.css">

<div class="row">
		<div class="hidden-xs col-sm-2 col-md-2 col-lg-2 show-functions" style="display:none">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span></button>
			<button class="btn btn-primary"><span class="glyphicon glyphicon-menu-right"></span></button>
		</div>
		
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2 show-functions" style="display:none">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProjeto" onmouseover="abrirModal('projeto');"><span class="glyphicon glyphicon-save"></span> Salvar</button>
		</div>
		
		<div class="col-lg-5 show-functions" style="display:none">
			<ol class="breadcrumb">
				<button class="btn btn-success" required=""> 1. Gravando seu Teste <span class="glyphicon glyphicon-play"></span></button> /
				<li> 2. Selecione o Assert </li>
			</ol>
		</div>
	
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2 col-lg-offset-1 show-functions" style="display:none" align="center">
			<button class="btn btn-primary" id="scale" onClick="maximizeIframe();"><span class="glyphicon glyphicon-fullscreen"></span> Tela Cheia</button>
		</div>	
</div>

<div class="row">
	<iframe id="iframeContent"></iframe>		
</div>

<div class="row">
	<div class="hidden-xs hidden-sm col-lg-8">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span>testestes</button>
	</div>
</div>

<div class="row">
	<div class="hidden-xs hidden-sm col-lg-8">
		<textarea class="form-control console" id="console"></textarea>
	</div>
</div>

<div class="row fixed-mobile-controls" style="display:none">
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg show-functions" align="left">
		<button class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span></button>
	</div>
	
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg show-functions" align="center">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProjeto" onmouseover="abrirModal('projeto');"><span class="glyphicon glyphicon-save"></span> Salvar</button>
	</div>
	
	<div class="col-xs-4 hidden-sm hidden-md hidden-lg show-functions" align="right">
		<button class="btn btn-primary"><span class="glyphicon glyphicon-menu-right"></span></button>
	</div>
</div>



<script src="../prgauxiliares/js/restrito/testExecutionInterface.js"></script>
<script src="../prgauxiliares/js/restrito/testExecution.js"></script>