<form>
	<div class="row">
		<div class="col-md-12">
			<div class="quadro-modal">
				<!-- Informacao modal -->
				<div class="col-sm-8 col-sm-offset-2">
					<div class="page-header">
						<label for="nmTeste">Agora dê um nome para o seu teste:</label>
						<input type="text" class="form-control" id="nmTeste" required>
						<div class="text-center">Caso não digite um nome, será gerado um aleatório.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="pull-left">
					<button type="button" class="btn btn-default" onclick="alterarConteudoModal('novaPasta');"> <span class="glyphicon glyphicon-chevron-left"></span> Anterior </button>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-success" onclick="alterarConteudoModal('salvarTeste');"> <span class="glyphicon glyphicon-floppy-saved"></span> Finalizar </button>
				</div>
			</p>
		</div>
	</div>
</form>