<!-- Modal -->
<div class="modal fade" id="modalProjeto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	
	<h4 class="text-center" id="tituloModal">Escolha onde deseja salvar o teste gravado</h4>
	
	<div id="conteudoProjetoModal"> <!-- Inicio (carrega conteudo) --->	
	</div> <!-- Fim (carrega conteudo) --->
	
	</div>
  </div>
  </div>
</div>