<form>
	<div class="row">
		<div class="col-md-12">
			<!-- Informacao modal -->
			<div class="alert alert-success text-center"> <b>Teste Salvo!</b> <br> Seu teste foi salvo com sucesso no projeto <b id="nmProjeto"></b>. </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="pull-left">
					<button type="button" class="btn btn-success" onclick="alterarConteudoModal('novoProjeto');"> <span class="glyphicon glyphicon-play"></span> Continuar Gravando </button>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-primary" onclick="alterarConteudoModal('novoTeste');"> <span class="glyphicon glyphicon-search"></span> Visualizar </button>
				</div>
			</p>
		</div>
	</div>
</form>