	<div class="row">
		<div class="col-md-12">
			<div class="quadro-modal">
				<!-- Informacao modal -->
				<div id="listaProjetos">
					<ul>
						<li> Root Node
							<ul>
								<li data-jstree='{ "selected" : true }'>
									<a href="#">Selected Node</a>
								</li>
								<li data-jstree='{ "opened" : true }'>
									Opened Node
									<ul>
										<li data-jstree='{ "type" : "file" }'>
											Child Node
										</li>
										<li data-jstree='{ "type" : "file" }'>
											Child Node 2
										</li>
										<li data-jstree='{ "type" : "file" }'>
											Child Node 3
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							Root Node 2
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<p>
			<div class="pull-left">
				<button type="button" class="btn btn-default" onclick="alterarConteudoModal('novoProjeto');"> <span class="glyphicon glyphicon-plus-sign"></span> Novo Projeto </button>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-success" onclick="alterarConteudoModal('salvarTeste');"> <span class="glyphicon glyphicon-floppy-saved"></span> Salvar </button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"> <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar </button>
			</div>
		</p>
		</div>
	</div>

	<script src="../prgauxiliares/jstree/examples.treeview.js"></script>
