<form>
	<div class="row">
		<div class="col-md-12">
			<div class="quadro-modal">
				<!-- Informacao modal -->
				<div class="col-sm-8 col-sm-offset-2">
					<div class="page-header">
						<label for="nmPasta">Dê um nome para a pasta:</label>
						<input type="text" class="form-control" id="nmPasta" required>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="pull-left">
					<button type="button" class="btn btn-default" onclick="alterarConteudoModal('novoProjeto');"> <span class="glyphicon glyphicon-chevron-left"></span> Anterior </button>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-success" onclick="alterarConteudoModal('novoTeste');"> Próximo <span class="glyphicon glyphicon-chevron-right"></span> </button>
				</div>
			</p>
		</div>
	</div>
</form>