body{
	overflow:hidden;
	margin: 0;
}

/*.quadro-modal{
	width:100%;
	min-height:150px;
	max-height:400px;
	background: #EFEFEF;
	border:1px solid #BBBBBB;
	border-radius: 3px;
	overflow:auto;
	overflow-x:hidden;
}*/

iframe{
 position: relative;
 height: 700px;
 width:121%;
 right:9.7%;
 margin: auto;
 border:none;	
 overflow:hidden;
}

.fixed-mobile-controls{
	position: fixed;
	bottom:0px;
	width:100%;
	margin: auto;
	padding-bottom:5px;
	padding-top:5px;
	left:0%;
	background-color:#f8f8f8;
}

.console{
	position: fixed;
	bottom:0px;
	margin:auto;
	width:80%;
	height:30% !important;
	padding-bottom:5px;
	z-index:1;
}